<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
      <li{% if page.url == '/index.html' %} class="active"{% endif %}>
        <a href="./index.html">JavaScript code codex-js-checker</a>
      </li>
      <li{% if page.url == '/option-1.html' %} class="active"{% endif %}>
        <a href="./option-1.html">Option 1: install globally, run for each file</a>
      </li>
      <li{% if page.url == '/option-2.html' %} class="active"{% endif %}>
        <a href="./option-2.html">Option 2: install globally, watch all files</a>
      </li>
    </ul>
  </nav>
</footer>
